
   body{
    background-image: url(images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    }
  
  .container-fluid {
    font-family: 'Charm';font-size: 22px;
  }

    .nav-link{
        color: black;
       transition-property: all;
      }
      .nav-link:hover{
        transform: scale(1.1);
         transition: ease-in;
         background-color: rgb(219, 230, 219);
         
      } 
      .navbar-collapse{
          text-align: center;

      }

     