body{
  background-image: url(images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  }

.container-fluid {
  font-family: 'Charm';font-size: 24px;
}
.image {
  border-radius: 50%;
}
.card{
 
  background-color: rgb(10, 9, 8);
  transition: all;
  transition-duration: 0.1s;
  transition-delay: 0.1s;
  transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);
}
.card:hover{
  transform: scale(1.1);
  transition: ease-in-out cubic-bezier(0.215, 0.410, 0.305, 0.88);
}

.card-title{
  text-align: center;
}
.card-text{
  color: rgb(93, 133, 168);
  text-align: center;
  font-size: 25px;
}
 .nav-link{
  color: black;
 transition-property: all;
}
.nav-link:hover{
  transform: scale(1.1);
   transition: ease-in-out;
   background-color: rgb(169, 230, 167);
   
}  
h4{
  text-align: center;
}


